/* @media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
} */
body{
    
    font-family: 'Roboto', sans-serif;
    display: block;
    content: '';
    height: 60px;
    color:#22223B;
}